


body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #6c63ff;
    color: white;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
}

#quiz-container, #result-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#options-container {
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #6c63ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #574bdb;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

